/* Main Blog Post Styles */

body {
    margin: 5% 20% 5% 20%;
    font-family: "Open Sans", "Source Sans Pro";


}

h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333333;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}


p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-weight: 300;
    line-height: 23px;
    color: #515151;
    margin-bottom: 25px;
}

a {
    color: #0085a1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}

blockquote {
    margin: 0 0 25px;
    padding: 15px 30px;
    font-size: 24px;
    font-style: italic;
    background-color: #f9f9f9;
    border-left: 5px solid #0085a1;
}

pre {
    background-color: #f9f9f9;
    padding: 15px;
    overflow-x: auto;
    font-size: 16px;
    margin-bottom: 25px;
}

#top-link,
#bottom-link {
    position: fixed;
    z-index: 9999;
    font-size: 20px;
    color: #fff;
    background-color: #0085a1;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}

#top-link:hover,
#bottom-link:hover {
    opacity: 0.8;
}

#top-link {
    top: 20px;
    left: 20px;
}

#bottom-link {
    bottom: 20px;
    right: 20px;
}




/* Responsive Styles */

@media screen and (max-width: 768px) {

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    blockquote {
        font-size: 20px;
    }

    pre {
        font-size: 14px;
    }

}